body{
	margin:0;
	position:relative;
	background: url(../images/Hoth_plains.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app-items, #dessert-items, #drink-items, #meal-items {
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
#dessert-items{
	padding-bottom: 50px;
}
#appetizers_holder, #desserts_holder, #drinks_holder, #meals_holder {
    padding-top: 100px;
}

.imgs {
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#imghoth{
    max-width:100%;
    max-height:100%;
}

.menu_icon {
    height: 150px;
    width: 150px;
}

.item_img {
    width:100%;
}

.item-container {
    float:left;
}

.item_container:nth-child(3n+1) {
    clear:left;
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
	
	position:fixed;
}

#addbut{
	position: fixed;
    bottom: 4vh;
    right: 2vw; 
}

#close{
    position:absolute;
    right:3vw;
    top:3vh;
    cursor: pointer;
    max-height:3vh;
    max-width: 3vw;
}

.deleteDiv{
	width: 1px;
	padding: 0;
	color: red;
	position: relative;
	top:0%;
	right: -92%;
}
.deleteDiv:hover{
	cursor: pointer;
}


/* message div */
#price-updated{
    position: fixed;
    width: auto;
    right:45vw;
    bottom: -6vh;
    display: block;
    background-color: azure;
    transition: bottom 1s;
}

#picture-updated{    
    width:auto;
    text-align: center;
    display: none;
    

}


/*XS screen size*/
@media (min-width: 601px) and (max-width: 767px) {
    #appetizers_holder, #desserts_holder, #drinks_holder, #meals_holder{
        padding: 100px 200px;
    }
    

}


/*SM screen size*/
@media (min-width: 768px) and (max-width: 991px) {
    #appetizers_holder, #desserts_holder, #drinks_holder, #meals_holder {
        padding: 100px 150px;
    }
    

}


/*MD screen size*/
@media (min-width: 992px) and (max-width: 1200px) {
    #appetizers_holder, #desserts_holder, #drinks_holder, #meals_holder {
        padding: 100px 150px;
    }
    

}


/*LG screen size*/
@media (min-width: 1201px) and (max-width: 1535px) {
    #appetizers_holder, #desserts_holder, #drinks_holder, #meals_holder {
        padding: 100px 60px;
    }
}