#shop_status{
    font-size: 1vw;
    font-weight: bold;
    
}

#table {
  width:95%;
}

#table th, #table tr td {
  border: 1px solid black;
}

#table tr:nth-child(1n+1) {
  background-color:lightgray;
}

#table tr:nth-child(2n+1) {
  background-color:lightblue;
}

#order-report-div, #item-report-div, #discarded-report-div {
  display:none;
}

.report-data {
  display:inline-block;
  width:32%;
  text-align:left;
}

.button{
    font-size: 1vw;
    width:18vw;
	height:5vh;
    margin: 1vh 1vw 1vh 0vw;
    text-align:left;
	padding-left:50px;
    overflow: hidden;
    border-radius: 30px;
    background-color: silver;
    
    
}

.button:focus {outline:0;}

body{
    background-image: url(/images/Hoth_plains.jpg);

}

#container{
    margin: 100px auto;
    width: 50vw;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    max-height: 90vh;
    overflow: auto;

}
#menu{
    border-right: solid 1px;
    border-right-color: aliceblue;
    margin: 100px auto;
    width:30vw;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 100vh;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}




