body{
	margin:0;
	width:100vw;
	background: url(../images/Hoth_plains.jpg) no-repeat center top fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;
	
	position:fixed;
}
#addbut{
	position: fixed;
    bottom: 4vh;
    right: 2vw; 
}

#close{
    position:absolute;
    right:3vw;
    top:3vh;
    cursor: pointer;
    max-height:3vh;
    max-width: 3vw;
}

#admin-div{
	height:auto;
}